<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
    </head>
    <body>
        <h1>The Top 100 eBook Downloads</h1>
        {% if alias %}
        <h3>By {{alias}}</h3>
        {% endif %}
        {% for ebook in ebooks %}
        <p>{{ebook.book}} ({{ebook.year}}) by {{ebook.author}}</p>
        {% endfor %}
        <img id="train" src="https://js.cx/clipart/train.gif">
    </body>
    <style>
        #train {
          position: relative;
          cursor: pointer;
        }
    </style>
    <script>
        train.onclick = function() {
          let start = Date.now();
    
          let timer = setInterval(function() {
            let timePassed = Date.now() - start;
    
            train.style.left = timePassed / 5 + 'px';
    
            if (timePassed > 2000) clearInterval(timer);
    
          }, 20);
        }
    </script>

</html>